@keyframes slide {
    0% { opacity: 0.4; }
}

body {
    background: rgb(209,62,120);
    background: linear-gradient(to right, #e0686a,rgba(249,133,119,0.9) 41%,  rgba(252,162,112,1) 100%);
    font-family: helvetica;  
}

.area_input {
    margin: auto;
    width: 300px;
    height: 400px;
    margin-top: 20px;
}

.area--click {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    animation-name: slide;
    animation-duration: 3s;
}


.input_field {
    box-shadow: 0px 0px 10px 3px #151526;
    border-radius: 20px;
    border: 2px solid rgb(36, 34, 34);
    background-color: #1F2C43;
    padding: 20px;
    
}

.legend {
    color: #FFF;
    font-size: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #e76146;
    padding-bottom: 10px;
}

.legend span {
    font-size: 15px;
    font-family: italic;
      
}

.label {
    color: #FFF;
    font-size: 18px;
    margin-top: 30px;
}

.label_tag {
    margin-top: 15px;
}

.label span {
    font-size: 12px;
    font-style: italic;

}

input {
    display: flex;
    margin-top: 5px;
    outline: none;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #152236;
    border:  transparent;
    color: #fff;
  

}

button {
    width: 85px;
    height: 25px;
    background: #e76146;
    border: transparent;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    
}

button span {
    font-size: 11px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button:hover{
    background: #ce4d2ae5;
}

.area_info {
    display: none;
}

.info {
    height: 100vh;
    width: auto;
}
.reveal-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 3px #151526;
    border-radius: 20px;
    border: 2px solid rgb(36, 34, 34);
    background-color: #1F2C43;
    padding: 20px;
    animation-name: slide;
    animation-duration: 1s;
}

h1 {
    font-size: 30px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #e76146;
    padding-bottom: 10px;

}

h1 span {
    font-size: 20px;
    color: #FFF;
    font-style:italic;

}

.informations {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFF;

}

.informations div {
    margin: 5px;
    font-size:25px;
    border-radius: 10px;
    background-color: none;
    border:  transparent;
    padding: 5px;
    line-height: 20px;

}
.informations span {
    margin: 5px;
    font-size: 14px;
    font-style: italic;
    margin-right: 10px;
}




@media (min-width: 470px) and (max-width: 750px) {
    .area--click {
        flex-wrap: wrap;
    }

    .input_field {
        height: 356px;
    }
    .reveal-results {
        margin-top: 30px;
    }
}

@media (max-width: 470px) {

    .area_input {
        width: 246px;
    }
    .area--click {
        flex-wrap: wrap;
    }

    .reveal-results {
        margin-top: 30px;
    }

    .informations div {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        font-size: 12px;
    }

    .informations span{
        flex-wrap: wrap;
        font-size: 8px;
    }
}